<div class="container">
  <div class = "top-wrapper">
    <h1>ようこそ Filcordへ！</h1>
    <p>「Filcord」は、フィルムカメラで撮影した際のシャッタースピードとF値、位置情報を記録できるアプリです。</p>
  </div>

  <div class="btn-wrapper">
    <%= link_to "新規登録する", new_user_path, class: "btn" %>
    <%= link_to "ログインする",  login_path, class: "btn" %>
  </div>
</div>