<% flash.each do |message_type, messages| %>
  <% if message_type == "validation_error" %>
    <div class="error-explanation">
      <ul>
        <% messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>  
