* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


body {
  padding-top: 65px;
  margin: 0;
}

.container {
  // max-width: 1170px;
  width: 95%;
  margin: 0 2.5%;
}


/* header関連 */
header {
  height: 65px;
  width: 100%;
  background-color: rgba(130, 170, 170, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  a {
    line-height: 55px;
    margin: 5px 0;
    margin-right: 5px;
    padding: 0px 12px;
    color: black;
    font-size: 14px;
    background-color: white;
    border-radius: 20px;
    display: block;
    float: left;
  }

  a:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.logo {
  color: white;
  line-height: 65px;
  padding-left: 25px;
  display: block;
  font-size: 25px;
  // font-family: ;あとで決める
}

.page-title {
  text-align: center;
}

/* form関連 */
.form-wrapper {
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
    label {
      display: block;
    }

    .form-control {
      width: 300px;
      font-size: large;
      margin-bottom: 25px;
    }
  }
}

.big-bg {
  background-image: image-url("top_background.jpg");
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  background-color  : #745c31;
  background-blend-mode : soft-light;
  overflow: hidden; //https://meshikui.com/2020/03/26/2620/ 子要素にmarginがあると親要素を突き抜ける
}

.top-wrapper {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
  color: #ddd;

  h1 {
    font-family: 'Courgette', cursive;
    font-size: 50px;
  }
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-size: 14px;
  padding: 8px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: black;
  background-color: #6caeb3;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  border: 0px none;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn:hover {
  background-color: rgba(108, 174, 179, 0.6);
}

.btn-user-edit {
  width: 50%;
  margin-left: 25%;
}

.btn-delete {
  background-color: #e8384f;
}


.btn-delete:hover {
  background-color: rgba(232, 56, 79, 0.6);
}


/* フォームのエラーメッセージ */
.error-explanation {
  ul {
    color: red;
    text-align: left;
  }
}

#map-button {
  background-color: white;
  border: #6caeb3 0.5px solid;
}

#map-button:hover {
  background-color: #eaf3f3;
}

/* showページで表示するinfo関連 */
.info-wrapper {
  float: left;
  width: 35%;
  margin: 0 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  border: 2px solid gray;
  width: 80%;
  margin: 20px 10%;
  padding: 0px 10px;

  p {
    word-break: break-all;
  }
}

.btn-left {
  float: left;
  width: 45%;
}
.btn-right {
  float: right;
  width: 45%;
}

/* showページで表示する一覧関連 */
.index-wrapper {
  float: right;
  width: 55%;
  margin-right: 5%;

  ol {
    list-style: none;
  }
}

.index-list {
  border-top: 1px solid #828585;
  padding: 3px;
  position: relative;
  z-index: 1;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2;
  }
}

.timestamp {
  font-size: 13px;
}

/* photo newとshowの左側(登録フォーム or 詳細情報) */
.photo-left {
  float: left;
  width: 45%;
  margin: 0 2.5%;
}

/* photo newとshowの右側(google map) */
.photo-right {
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  position: relative;

  #map {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.debug_dump {
  display: none;
}

/* float解除 */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.bootstrap {
  @import "bootstrap-sprockets";
  @import "bootstrap";
}

/* タブレット向け */
@media all and (max-width: 1000px) {
  .info-wrapper{
    width: 45%;
  }

  .index-wrapper {
    width: 45%;
  }
}

/* スマホ向け */
@media all and (max-width: 670px) {
  h1 {
    font-size: 20px;
  }

  .btn {
    width: 100%;
    float: none;
  }

  .btn-user-edit {
    margin-left: 0;
  }

  .info-wrapper, .photo-left{
    float: none;
    width: 95%;
  }

  .index-wrapper {
    float: none;
    margin: 0 2.5%;
    width: 95%;
  }

  .info {
    margin: 20px 0;
    width: 100%;
  }

  .photo-right {
    padding-top: 100%;
  }
}
